include ./mixins/link.pug
include ./mixins/mail-link.pug

-
    var small = "(a|an|and|as|at|but|by|en|for|if|in|of|on|or|the|to|v[.]?|via|vs[.]?)",
        punct = "([!\"#$%&'()*+,./:;<=>?@[\\\\\\]^_`{|}~-]*)";

    function capitalize(title){
        var parts = [], split = /[:.;?!] |(?: |^)["Ò]/g, index = 0;
        
        while (true) {
            var m = split.exec(title);

            parts.push( title.substring(index, m ? m.index : title.length)
                .replace(/\b([A-Za-z][a-z.'Õ]*)\b/g, function(all){
                    return /[A-Za-z]\.[A-Za-z]/.test(all) ? all : upper(all);
                })
                .replace(RegExp("\\b" + small + "\\b", "ig"), lower)
                .replace(RegExp("^" + punct + small + "\\b", "ig"), function(all, punct, word){
                    return punct + upper(word);
                })
                .replace(RegExp("\\b" + small + punct + "$", "ig"), upper));
            
            index = split.lastIndex;
            
            if ( m ) parts.push( m[0] );
            else break;
        }
        
        return parts.join("").replace(/ V(s?)\. /ig, " v$1. ")
            .replace(/(['Õ])S\b/ig, "$1s")
            .replace(/\b(AT&T|Q&A)\b/ig, function(all){
                return all.toUpperCase();
            });
    };
    
    function lower(word){
        return word.toLowerCase();
    }
    
    function upper(word){
        return word.substr(0,1).toUpperCase() + word.substr(1);
    }  

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='description' content=config.description)
        title
            block title
        link(rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
        link(rel="manifest" href="/manifest.json")
        meta(name="msapplication-TileColor" content="#ffffff")
        meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
        meta(name="theme-color" content="#ffffff")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic' rel='stylesheet' type='text/css')
        link(rel='stylesheet' type='text/css' href='/styles/style.css')
        block head

    body
        .header 
            a.header__link(href='/')
                .header__portrait
                div
                h1.header__name= config.title
            .header__description= config.subtitle
            
            +mail_link('','mail@vsemenyuk.pro')(class="mail")
            +link('','https://www.facebook.com/vladimir.semenyuk.31')(class="fb")
            +link('','https://www.linkedin.com/in/vladimir-semenyuk-9b417871')(class="in")
            +link('','https://github.com/VladimirSemenyuk/')(class="git")
            +link('','https://telegram.me/vladimirsemenyuk')(class="tele")

        .body 
            block content

        .info
            block info    

    script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-82311544-1', 'auto');
            ga('send', 'pageview');