extends ./base.pug

block title
    != config.subtitle 

block head
    link(rel='stylesheet' type='text/css' href='/styles/index.css')    

block content
    ul.elements-list
        include ./elements/summary.pug
        include ./elements/work-history.pug
        include ./elements/education.pug
        include ./elements/skills.pug
        include ./elements/articles.pug
        include ./elements/more.pug
        include ./elements/contacts.pug
