include ../config.pug
include ../link.pug
include ../block.pug

mixin articles-list
    ul.articles-list
        block

mixin article(text, href)
    li.articles-list__item
        +link(text, href)

mixin articles
    +page(ARTICLES_PAGE)
        ul.articles-list
            +block(2013)
                +articles-list
                    +article('Pitfalls in Large-Scale Application Development on Node.js', 'blog.denivip.ru/index.php/2013/01/pitfalls-in-large-scale-application-development-on-node-js/?lang=en')

            +block(2012)
                +articles-list    
                    +article('Workflow and Frontend Development Tools', 'blog.denivip.ru/index.php/2012/12/workflow-and-frontend-development-tools/?lang=en')
                    +article('How to Develop Highload Services on Node.js', 'blog.denivip.ru/index.php/2012/11/how-to-develop-highload-services-on-node-js/?lang=en')
                    +article('HTML5 Application Optimization', 'blog.denivip.ru/index.php/2012/07/html5-application-optimization/?lang=en')
                    +article('How to Develop Large-Scale JavaScript Based Applications', 'blog.denivip.ru/index.php/2012/07/how-to-develop-large-scale-javascript-based-applications/?lang=en')
                    +article('HTML5 <video> Analytics', 'blog.denivip.ru/index.php/2012/06/html5-analytics/?lang=en')
                    +article('HTML5 Video Player Development', 'blog.denivip.ru/index.php/2012/06/html5-player-development/?lang=en')