include ../config.pug

- var workingYearsCount = (new Date()).getFullYear() - START_CAREER_YEAR;

mixin more_item(text)
    li.more-list__item!= text
    
mixin more
        +page(MORE_PAGE)
            ul.more-list
                +more_item('Love fitness and cycling')
                +more_item('Really fond of music')
                +more_item('Study to play the guitar')
                    