include ../config.pug

- var workingYearsCount = (new Date()).getFullYear() - START_CAREER_YEAR;

mixin summary_item(text)
    li.summaries-list__item!= text
    
mixin summary
        +page(SUMMARY_PAGE)
            ul.summaries-list
                +summary_item('More than ' + workingYearsCount + ' years of experience in web development')
                +summary_item('Expert in building complex frontend web applications')
                +summary_item('Expert in developing and maintaining libraries and frameworks')
                +summary_item('Strong in frontend perfomance optimizations')
                +summary_item('Strong in internationalization and localization of applications')
                +summary_item('Engineer\'s degree in Computer Science')