include ../mixins/element.pug
include ../mixins/link.pug
include ../mixins/mail-link.pug

mixin contacts_item
    li.contacts-list__item
        block
    
+element(config.elements.contacts)
    ul.contacts-list
        +contacts_item
            +mail_link('mail@vsemenyuk.pro','mail@vsemenyuk.pro')(class="mail")
        +contacts_item
            +link('Facebook','www.facebook.com/vladimir.semenyuk.31')(class="fb")
        +contacts_item
            +link('LinkedIn','www.linkedin.com/in/vladimir-semenyuk-9b417871')(class="in")
        +contacts_item
            +link('GitHub','github.com/VladimirSemenyuk/')(class="git")
        +contacts_item
            +link('@vladimirsemenyuk','telegram.me/vladimirsemenyuk')(class="tele")                    
                    