include ../mixins/element.pug
include ../mixins/info-block.pug
include ../mixins/link.pug

+element(config.elements.education)    
    h2.degree Engineer's Degree in Information Systems and Technologies 
    .degree-info!= 'Bauman Moscow State Technical University (2006 &mdash; 2012)'

    ul.blocks-list
        +info_block('10gen', null, null, 2013)
            +link('M101P: MongoDB for Developers', 'https://s3.amazonaws.com/edu-cert.10gen.com/downloads/882484eec280494baf9959391e130503/Certificate.pdf')                 
