include ../mixins/element.pug
include ../mixins/info-block.pug

mixin skill(text, grade)
    +info_block(text)
        if block 
            .skill-text
                block

        //- var width = grade * 10
        //.skill-bar(title=width + '%')
        //    .skill-bar__inner(style='width:' + width + '%;')

+element(config.elements.skills)
    ul.skills-list
        +skill('Leadership', 7)
            | Experienced in managing number of teams, experienced in Agile, 
        +skill('Architecture', 9)
            | Development and deployment tools, NPM, Grunt, Gulp, experienced in framework development, REST API, RabbitMQ, 
        +skill('JavaScript', 10)
            | Expertise in OOP, Design Patterns, ES2015, ES2016, modules (AMD, CommonJS, UMD), Backbone, JQuery, Node.js, JSX etc.
        +skill('TypeScript', 10)
            | Classes, Interfaces, Decorators, Generics etc.
        +skill('Testing', 8)
            | Karma, Mocha, ChaiJS
        +skill('HTML5', 9)
            | Template engines (Jade/Pug, Handlebars/Mustache), Video API, Audio API, WebSockets, Drag & Drop and other cool features
        +skill('CSS3', 8)
            | Preprocessors (Stylus, experienced in LESS and SASS), transitions, animations etc.
        +skill('Databases', 5)
            | Both SQL and NoSQL, in–memory storages
        +skill('Tools', 8)
            | GIT, GitLab, Jira, Docker, Elastick Search + Logstash + Kibana, Ansible
        +skill('Other', 8)
            | MS Azure

