include ../mixins/element.pug
include ../mixins/info-block.pug
include ../mixins/link.pug

mixin responsibilities
    ul.responsibilities-list
        block

mixin responsibility
    li.responsibilities-list__item
        block

+element(config.elements.work_history)
    ul.blocks-list
        +info_block('Target.My.com', 'Head of Frontend Development Department', '//target.my.com', 2013)
            +responsibilities
                +responsibility 
                    = 'Development of 3 projects including ' 
                    +link('Target.My.com', 'http://target.my.com') 
                    = ' and '         
                    +link('Tracker.My.com', 'http://target.my.com')
                +responsibility
                    | Development and maintenance of ad templates and scripts at VK.com, Odnoklassniki.ru, Mail.ru and other
                +responsibility
                    | UI components library development
                +responsibility
                    | Controlling department of 3 teams
                +responsibility
                    | Training, code review, task decomposition, planning

        +info_block('DeniVIP Media', 'Frontend Developer', 'http://www.denivip.ru/en.html', 2012, 2013)
            +responsibilities
                +responsibility 
                    | Development of 
                    +link('NTVPlus.tv', 'http://www.ntvplus.tv')
                +responsibility
                    | Controlling team of 3 members

        +info_block('Sapato', 'Frontend Developer', null, 2012, 2012)
            +responsibilities
                +responsibility 
                    | Development of Sapato.ru
                +responsibility 
                    | Creation of mailings and promo stuff

        +info_block('Web and Print', 'Developer', null, 2009, 2012)
            +responsibilities
                +responsibility 
                    | Development of lots of small sites using PHP, Javascript