include ./config.pug
include ./header.pug
include ./body.pug
include ./pages-list.pug
include ./footer.pug
include ./pages/summary.pug
include ./pages/work-history.pug
include ./pages/education.pug
include ./pages/skills.pug
include ./pages/articles.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title!= CONFIG.name + ' &mdash ' + CONFIG.description

    body
        +header(CONFIG.name, CONFIG.description)
        +pages_list(CONFIG.blocks)
        
        +body
            +summary
            +work_history
            +education
            +skills
            +articles
                
        +footer        
        
    