- 
    var START_CAREER_YEAR = 2009,
        SUMMARY_PAGE = {
            name: 'summary',
            description: 'Summary'
        },
        WORK_HISTORY_PAGE = {
            name: 'work-history',
            description: 'Work History'
        },
        EDUCATION_PAGE = {
            name: 'education',
            description: 'Education & Certificates'
        },
        SKILLS_PAGE = {
            name: 'skills',
            description: 'Skills'
        },
        ARTICLES_PAGE = {
            name: 'articles',
            description: 'Articles & Publications'
        },
        MORE_PAGE = {
            name: 'more',
            description: 'More'
        },
        CONTACTS_PAGE = {
            name: 'contacts',
            description: 'Contacts'
        },
        CONFIG = {
            name: 'Vladimir Semenyuk', 
            description: 'Head Of Frontend Development Department at Target.My.com'
        };
        