- 
    var START_CAREER_YEAR = 2009,
        SUMMARY_PAGE = {
            name: 'summary',
            description: 'Summary'
        },
        WORK_HISTORY_PAGE = {
            name: 'work-history',
            description: 'Work History'
        },
        EDUCATION_PAGE = {
            name: 'education',
            description: 'Education'
        },
        SKILLS_PAGE = {
            name: 'skills',
            description: 'Skills'
        },
        ARTICLES_PAGE = {
            name: 'articles',
            description: 'Articles'
        }
        CONFIG = {
            name: 'Vladimir Semenyuk', 
            description: 'Head Of Frontend Development Department At Target.My.com',
            blocks: [SUMMARY_PAGE, WORK_HISTORY_PAGE, EDUCATION_PAGE, SKILLS_PAGE]
        };
        