@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?96255276");
  src: url("../font/fontello.eot?96255276#iefix") format('embedded-opentype'), url("../font/fontello.woff?96255276") format('woff'), url("../font/fontello.ttf?96255276") format('truetype'), url("../font/fontello.svg?96255276#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
.git {
  position: relative;
  margin-left: 25px;
}
.git:before {
  font-family: "fontello";
  content: '\f113';
  position: absolute;
  left: -25px;
}
.fb {
  position: relative;
  margin-left: 25px;
}
.fb:before {
  font-family: "fontello";
  content: '\E802';
  position: absolute;
  left: -25px;
}
.in {
  position: relative;
  margin-left: 25px;
}
.in:before {
  font-family: "fontello";
  content: '\f0e1';
  position: absolute;
  left: -25px;
}
.mail {
  position: relative;
  margin-left: 25px;
}
.mail:before {
  font-family: "fontello";
  content: '\f0e0';
  position: absolute;
  left: -25px;
}
.tele {
  position: relative;
  margin-left: 25px;
}
.tele:before {
  font-family: "fontello";
  content: '\f124';
  position: absolute;
  left: -25px;
}
html {
  background: #4480b8;
  color: #ddd;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
  line-height: 1.7em;
  text-shadow: 0px 1px 1px rgba(20,20,20,0.7);
  font-weight: 100;
}
@media (max-width: 1300px) {
  html {
    background: #4480b8 url("/images/background-small.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: 1301px) and (max-width: 2700px) {
  html {
    background: #4480b8 url("/images/background-medium.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (min-width: 2701px) {
  html {
    background: #4480b8 url("/images/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
a {
  color: #f5f5f5;
  text-decoration: none;
  border-bottom: 1px dotted #f5f5f5;
}
a:hover {
  border-bottom: 1px solid #f5f5f5;
}
body {
  width: 1100px;
  margin: 0 auto;
}
.body {
  list-style: none;
  margin: 70px 0 40px;
  padding: 0;
  box-shadow: 0 2px 2px rgba(20,20,20,0.3);
}
h1 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 2.3em;
  font-weight: 400;
  color: #f5f5f5;
  padding-left: 25px;
  margin: 25px 0 30px;
}
h2 {
  font-size: 1.2em;
  font-weight: 300;
  color: #f5f5f5;
  margin: 0;
}
.header {
  text-align: center;
  position: relative;
}
.header__portrait {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  border: 2px solid #ddd;
  box-shadow: 0 2px 2px rgba(20,20,20,0.7);
  margin: 35px auto;
  background: url("/images/portrait.jpg") center center no-repeat;
  background-size: cover;
}
.header__name {
  font-size: 3em;
  padding: 0;
}
.header__description {
  font-style: italic;
  font-size: 1.2em;
  color: #333;
  text-shadow: none;
  line-height: 0em;
}
.header .git {
  position: absolute;
  bottom: -40px;
  right: 4px;
}
.header .git:before {
  text-shadow: none;
  color: rgba(20,20,20,0.7);
}
.header .fb {
  position: absolute;
  bottom: -40px;
  right: 60px;
}
.header .fb:before {
  text-shadow: none;
  color: rgba(20,20,20,0.7);
}
.header .in {
  position: absolute;
  bottom: -40px;
  right: 31px;
}
.header .in:before {
  text-shadow: none;
  color: rgba(20,20,20,0.7);
}
.header .mail {
  position: absolute;
  bottom: -40px;
  right: 90px;
}
.header .mail:before {
  text-shadow: none;
  color: rgba(20,20,20,0.7);
}
.page {
  background-color: rgba(20,20,20,0.7);
  margin: 1px 0;
  padding: 15px 25px 35px 300px;
}
.page#page-work-history,
.page#page-education,
.page#page-skills,
.page#page-articles {
  padding-left: 25px;
}
.page#page-work-history h1,
.page#page-education h1,
.page#page-skills h1,
.page#page-articles h1 {
  margin-left: 275px;
}
.page-wrapper {
  padding-left: 25px;
}
.summaries-list,
.more-list {
  padding-left: 25px;
}
.summaries-list__item,
.more-list__item {
  list-style-type: disc;
  color: #ddd;
  font-weight: 300;
}
.blocks-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.blocks-list__item {
  margin: 25px 0;
}
.blocks-list__item__dates {
  font-style: italic;
  color: #ccc;
}
.blocks-list__item__left {
  display: inline-block;
  vertical-align: top;
  width: 225px;
  text-align: right;
  margin-right: 50px;
}
.blocks-list__item__left__text {
  color: #f5f5f5;
}
.blocks-list__item__right {
  display: inline-block;
  vertical-align: top;
  width: 750px;
}
.responsibilities-list {
  font-style: italic;
  list-style-type: disc;
  color: #ccc;
  padding-left: 25px;
}
.skills-list,
.articles-list,
.contacts-list {
  padding: 0;
  list-style: none;
}
.skills-list__item,
.articles-list__item,
.contacts-list__item {
  margin-bottom: 5px;
}
.skill-text {
  font-style: italic;
  color: #ccc;
}
.degree,
.certificates {
  margin-left: 275px;
}
.degree-info {
  font-style: italic;
  color: #ccc;
  margin-bottom: 25px;
  margin-left: 275px;
}
.article {
  color: #ccc;
  font-style: italic;
}
