@require "./mixins"

.post
    &__header
        background-color $bodyLightBackgroundColor
        padding $bodyPadding

    &__title
        color #333333
        margin 0 0 20px
        line-height 1.5em
        letter-spacing 0em
        text-shadow 0 1px 1px rgba(0,0,0,0.2)
        
    &__meta
        color $greyTextColor

        & *
            margin-right 40px
            display inline-block  

    &__tags
        font-style italic

    &__content
        & code
            font-size: 1.2em;
            background-color: #ccc;
            padding: 2px 5px;
            border-radius: 2px

        & hr
            margin-top: 2px;
            border: none;
            margin-bottom: 2px;

        & a
            color $greyTextColor
            text-decoration none
            border-bottom 1px dotted $greyTextColor

            &:hover
                color $blackTextColor
                border-bottom 1px dotted $blackTextColor

        & h1
        & h2
        & h3
        & h4
        & h5
        & h6
        & ul
        & ol
        & blockquote
            color $blackTextColor
            font-weight 400
            background-color $bodyLightBackgroundColor
            margin 0
            padding $bodyPadding $bodyPadding 10px
 
        & p
        & table
            color $blackTextColor    
            font-weight 400
            background-color $bodyLightBackgroundColor
            margin 0
            padding 10px $bodyPadding

        & ul
        & ol
        & blockquote
            padding-top 10px

            & *
                background transparent
                padding-top 3px
                padding-bottom 3px
                

        & ul
        & ol
            padding-top 0
            padding-left 60px        

        & blockquote
            font-style italic
            color $greyTextColor              
            
        & table
            display block
            border-collapse collapse
            
            & th
            & td
                border 1px solid $greyTextColor
                padding 3px 8px

        & figure
            margin 0
            background-color $bodyBackgroundColor
            padding 0 $bodyPadding 
            //position relative

            & figcaption
                padding-top
                color $darkTextColor
                //position absolute
                padding-top 20px
                padding-left 10px
                //top 10px 
                //right $bodyPadding 
                font-size 0.9em
                color $darkTextColor

                

            & table
                display table
                background-color transparent
                border none

                & th
                & td
                    border none

        &:after
            content ''
            background-color $bodyLightBackgroundColor
            display block
            padding-top $bodyPadding

    &__comments
        margin 1px 0
        background-color $bodyLightBackgroundColor
        padding $bodyPadding 

.clndr
    ico('\E800')

.tags
    ico('\E801')    

.category
    ico('\E803')    

.highlight
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: $textColor;
    font-size 1.1em
    text-shadow: 0px 1px 1px $bodyBackgroundColor

    & .line
        color: $textColor

        &:after   
            content ' ' 



    & .comment
    & .quote
        color: $darkTextColor;
        font-style: italic;


    & .keyword
    & .selector-tag
    & .subst
        color: $lightTextColor;
        font-weight: 300;


    & .number
    & .literal
    & .variable
    & .template-variable
    & .tag & .attr
        color: #008080;


    & .string
    & .doctag
        color: #d14;


    & .title
    & .section
    & .selector-id
        color: #28AE7B;
        //font-weight: bold;


    & .subst
        font-weight: normal;


    & .type
    & .class & .title
        color: #458;
        //font-weight: bold;


    & .tag
    & .name
    & .attribute
        color: #000080;
        font-weight: normal;


    & .regexp,
    & .link
        color: #009926;


    & .symbol,
    & .bullet
        color: #990073;


    & .built_in,
    & .builtin-name
        color: #0086b3;


    & .meta
        color: #cccccc;
        font-weight: bold;


    & .deletion
        background: #fdd;


    & .addition
        background: #dfd;


    & .emphasis
        font-style: italic;


    & .strong
        font-weight: bold;

