@require "./mixins"

@font-face
    font-family 'fontello'
    src url('../font/fontello.eot?96255276')
    src url('../font/fontello.eot?96255276#iefix') format('embedded-opentype'), url('../font/fontello.woff?96255276') format('woff'), url('../font/fontello.ttf?96255276') format('truetype'), url('../font/fontello.svg?96255276#fontello') format('svg')
    font-weight normal
    font-style normal

html
    background $backgroundColor
    font-family 'Open Sans', sans-serif
    font-size: 0.9em
    line-height 1.7em
    font-weight 100

@media (max-width: 1300px)
    html
        background $backgroundColor url('/images/background-small.jpg') no-repeat
        background-size cover
        background-attachment fixed

@media (min-width: 1301px) and (max-width: 2700px)
    html
        background $backgroundColor url('/images/background-medium.jpg') no-repeat
        background-size cover
        background-attachment fixed

@media (min-width: 2701px)
    html
        background $backgroundColor url('/images/background.jpg') no-repeat
        background-size cover
        background-attachment fixed

body
    width $width
    margin 0 auto

h1
    letter-spacing 0.05em
    font-size 2.3em
    font-weight 400
    margin $bodyPadding 0 $bodyPadding + 5

.body
    list-style none
    margin 70px 0 40px
    padding 0
    box-shadow 0 2px 2px $shadowColor

 .header
    text-align center
    position relative

    &__portrait
        width 170px
        height 170px
        border-radius 85px
        border: 2px solid $textColor
        box-shadow 0 2px 2px $bodyBackgroundColor
        margin 35px auto
        background url(/images/portrait.jpg) center center no-repeat
        background-size cover

    &__link
        text-decoration none
        border none

        &:hover
            border none    

    &__name
        display inline-block
        font-size 3em
        padding 0
        text-transform: uppercase;
        color: $lightTextColor;
        margin: 25px 0 30px;
        text-shadow: 0px 1px 1px $bodyBackgroundColor

    &__description
        font-style italic
        font-size 1.2em
        color #333
        text-shadow none
        line-height 0em

    // & .git
    //     topIco(31px)

    // & .fb
    //     topIco(90px)

    // & .in
    //     topIco(60px)

    // & .mail
    //     topIco(120px)

    // & .tele
    //     topIco(4px)    

